*{
	margin:0;
	padding:0;
}
.centered-box {
    background-color: black;
    height: 500px;
    left: 50%;
    margin-left: -250px;
    margin-top: -250px;
    position: fixed;
    top: 50%;
    width: 500px;
}
.centered-box img{
	max-width:500px;
}
